---
title: "config"
description: {{.description}}
draft: false
weight: {{.weight}}
---

 Роль |  {{.name}}
 -- | --
 Назначение | {{.purpose}}
 Приложение | {{.app}}
 Docker | {{.docker}}
 Repo | {{.url}}

